APP_STORE_CONNECT_APPLE_ID=ios-release@example.com
APP_STORE_CONNECT_TEAM_ID=123456789
APPLE_DEVELOPER_TEAM_ID=ABCD123456
IOS_BUNDLE_IDENTIFIER=org.reactjs.native.example.ReactNativeCodex

ANDROID_PACKAGE_NAME=com.reactnativecodex
ANDROID_RELEASE_STORE_FILE=../android/app/release.keystore
ANDROID_RELEASE_STORE_PASSWORD=replace-me
ANDROID_RELEASE_KEY_ALIAS=release
ANDROID_RELEASE_KEY_PASSWORD=replace-me

GOOGLE_PLAY_SERVICE_ACCOUNT_JSON=./fastlane/google-play-service-account.json
MATCH_GIT_URL=git@github.com:your-org/mobile-signing.git
MATCH_TYPE=appstore
